{% extends "base.html" %}

{% block content %}
    <div class='jumbotron'>

        <div class='problem-header'>
            <h2>{{problem.title}}</h2>
            <p>Time Limit : {{problem.time_limit}}sec | Memory Limit :{{problem.memory_limit}}MB</p>
            
            <a href="{% url 'submissions:submit' pid=problem.pk %}" class="btn btn-outline-success" role="button">Submit</a>
            

            <div class='problem-statement'>
                <p>{{statement|escape|linebreaks}}</p>
            </div>
            {% for in,out in samples %}
                <div class='sample-input-output'>
                    <h3>Sample Input:</h3>
                    <p>{{in|escape|linebreaks}}</p>
                    <h3>Sample Output:</h3>
                    <p>{{out|escape|linebreaks}}</p>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock content %}  